@charset "UTF-8";

  body {
            background: #C2DABC;
     }
        

.header1{
font-family:"주아체";
     font-size:30px;
     color:white;
   padding:10px 10px;
   text-align: center;
   background: #C2DABC;
}  

.header2{
font-family:"주아체";
     font-size: 25px;
     color:white;
   padding:10px 10px;
   text-align: left;
   background: #C2DABC;
   margin-bottom: 10px; <!--middle과의간격을줌-->
}  

.logout{
   text-align:right;
padding : 2px 30px;
   vertical-align:middle;
}

.middle{
    font: 20px arial, sans-serif;
   background: #C2DABC;
   text-align: center;
   margin-bottom: 20px;
}
.content1{
    font: 15px arial, sans-serif;
   margin-bottom: 40px; 
     background: #ffffff;
     text-align : center;
   
}
.content2{
       font: 15px arial, sans-serif;
      margin-top: 20px; 
     background: #ffffff;
     text-align : center;
   
}
 .frame{
  font: 15px arial, sans-serif;
  width: 1200px;
  margin: 0 auto; 
        }

.footer1{
    font: 15px arial, sans-serif;
   text-align: center;
   border-top: 1px solod #aaa;
   font-size: 20px;
   margin-top:20px;
}    

.footer2{    font: 15px arial, sans-serif;
   text-align: center;
   border-top: 1px solod #aaa;
   font-size: 20px;
   margin-top:20px;}

#table {display: table; width: 100%; border: 1px solid #000000; text-align:center; }
.head{ display: table-row; border-bottom: 1px solid #000000; font: 15px arial, sans-serif; }
.row {display: table-row; border-bottom : 1px solid #000000; background : #DDD;}
.cell {display: table-cell; vertical-align:middle; padding: 3px; border-bottom: 1px solid #000000; font: 15px arial, sans-serif; }
.col1 {width: 10%;}
.col2 {width: 10%;}
.col3 {width: 40%;}
.col4 {width: 10%;}
.col5 {width: 10%;}
.col6 {width: 10%;}
.co1  {width: 16%;}
.co2  {width: 16%;}
.co3  {width: 16%;}
.co4  {width: 16%;}
.co5  {width: 16%;}
.co6  {width: 16%;}
.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius:8px;
   opacity: 0.6; <!--누르면 바뀌어-->
}
.button:hover {opacity: 1}

input[type=text] {
   width: 250px;
   height: 40px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 15px;
  background-color: white;
  background-position: 10px 10px; 
  background-repeat: no-repeat;
   padding:15px;
}
