@charset "UTF-8";
  body {
            background: #C2DABC;
 font: 15px arial, sans-serif;        }
        
 .frame{
  font: 15px arial, sans-serif;
  width: 1200px;
  margin: 0 auto; <!--가운데정렬 -->
  border: 1px solod #aaa;      
        }

.header{
	  text-shadow: 0 0 3px #FF0000;
	 font: 30px arial, sans-serif;
	padding:10px 10px;
	text-align: center;
	background: #65bf00;
	margin-bottom: 10px; <!--middle과의간격을줌-->
}  

.middle{
	 font: 20px arial, sans-serif;
	background: #808000;
	text-align: center;
	margin-bottom: 20px;
	padding: 10px
}
.container{
	 font: 15px arial, sans-serif;
	background: #ffffff;
	margin-bottom: 20px; <!--middle과의간격을줌-->
	
}
.footer{
	 font: 15px arial, sans-serif;
	text-align: center;
	border-top: 1px solod #aaa;
	font-size: 20px
}      
#table {display: table; width: 100%; border: 1px solid #000000;  }
.head{background : #DDD; display: table-row; border : 1px solid #000000; font: 25px arial, sans-serif;}
.row {display: table-row; border : 1px solid #000000;  }
.cell {display: table-cell; padding: 3px; border: 1px solid #000000; font: 25px arial, sans-serif; }
.col1 {width: 10%; }
.col2 {width: 9%;  }
.col3 {width: 9%;}
.col4 {width: 9%;}
.col5 {width: 9%;}
.col6 {width: 9%;}
.col7 {width: 9%;}
.col8 {width: 9%;}
.col9 {width: 9%;}
.col10 {width: 9%;}
.col11 {width: 9%;}

.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius:8px;
   opacity: 0.6; <!--누르면 바뀌어->
}
.button:hover {opacity: 1}
.search:hover {opacity: 1}
.search{
background-color: #804000; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius:8px;
   opacity: 0.6; <!--누르면 바뀌어->
}
input[type=text] {
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 25px;
  background-color: white;
  background-image: url('./image_recipe/search_img.png');
  background-position: 10px 10px; 
  background-repeat: no-repeat;
}